footer {

    position: absolute;
    margin: 0;
    width: 100%;
    height: 675px;
    top: 3197px;
    background: #242424;
    color: white;
}

@media screen and (max-width: 500px) {
    footer {
        top: 5150px;
        height: 900px;
    }
}

.section-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70em;
    height: 208px;
    margin-left: 160px;
    margin-top: 85px;

}

@media screen and (max-width: 500px) {
    .section-footer {
        margin-left: 0;
        flex-direction: column;
        width: 412px;
    }
}

.footer-title {
    width: 329px;
    height: 88px;
    font-family: 'SpaceGrotesk-VariableFont_wght';
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
}

@media screen and (max-width: 500px) {
    .footer-title {
        font-size: 60px;
        text-align: center;
        margin-left: 28px;
    }
}

.div-footer-text {
    width: 445px;
    height: 208px;
}

.footer-text {
    position: absolute;
    height: 84px;
    left: 0%;
    right: 0%;
    top: calc(50% - 84px/2 + 62px);
    font-family: 'SpaceGrotesk-VariableFont_wght';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

@media screen and (max-width: 500px) {
    .footer-text {
        position: static;
        text-align: center;
        font-size: 16px;
        margin-right: 38px;
        margin-bottom: 20px;

    }
}

.footer-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 445px;
    height: 327px;
}

.input-dados {
    color: white;
    width: 445px;
    height: 43px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.222222px;
    outline: none;
}

@media screen and (max-width: 500px) {
    .input-dados {
        height: 70px;
    }

    .footer-input {
        margin-bottom: 20px;
    }
}

.input-msg {
    color: white;
    width: 445px;
    height: 107px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.222222px;
    outline: none;

}

.message {
    width: 136px;
    height: 26px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'SpaceGrotesk-VariableFont_wght';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    white-space: nowrap;
    text-decoration: none;
    border-bottom: 2px solid #4EE1A0;
    letter-spacing: 2.28571px;
    color: #FFFFFF;

}

@media screen and (max-width: 500px) {
    .message {
        top: 540px;
        position: absolute;
        left: 252px;
    }
}

.message:hover {
    color: #4EE1A0;
    cursor: pointer;
}

.svg-footer {
    position: relative;
    width: 530px;
    height: 129px;
    left: -250px;
    mix-blend-mode: normal;
    opacity: 0.50;
    top: 33px;
}

.div-nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 130px;
    width: 1110px;
    left: 130px;

}

.line-white-footer {
    width: 1110px;
    height: 1px;
    border-top: 2px solid #FFFFFF;
    opacity: 0.5;
    position: relative;
    top: 100px;
    left: 135px;
}

@media screen and (max-width: 500px) {
    .line-white-footer {
        width: 410px;
        top: 350px;
        left: 0;
    }
}


.adamkeyes-footer {
    width: 172px;
    height: 32px;
    font-family: 'SpaceGrotesk-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.444444px;

}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 192.49px;
    height: 25px;

}
@media screen and (max-width: 500px) {
    .adamkeyes-footer{
        position: absolute;
        top: 250px;
    }
    .nav-footer{
        position: absolute;
        top: 300px;
        align-content: center;
    }
}