.line-white-projects {
    display: none;
    position: relative;
    width: 1110px;
    height: 20px;
    border-top: 2px solid #FFFFFF;
    left: -6px;
    top: 1450px;
    opacity: 0.5;
}
@media screen and (max-width: 412px) {
    .line-white-projects{
        display: block;
        width: 412px;
        top:210px;
    }
}

.projects {
    
    position: relative;
    width: 1110px;
    height: 1767px;
    left: 160px;
    top: 252px;
    color: white;
}

@media screen and (max-width: 412px) {
    .projects {
        left: 0;
        top: 200px;
        width: 412px;
    }
}

.div-projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 20px;

}

.projects-title {
    width: 334px;
    height: 88px;
    font-family: 'SpaceGrotesk-VariableFont_wght';
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 88px;
    letter-spacing: -2.5px;
}
@media screen and (max-width: 412px) {
    .projects-title{
        width: 220px;
        font-size: 44px;
        justify-content: space-evenly;
    }
}

.projects-contact-me {

    width: 120px;
    height: 26px;
    font-family: 'SpaceGrotesk-VariableFont_wght';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    border-bottom: 2px solid #4EE1A0;

}
@media screen and (max-width: 412px){
    .projects-contact-me{
        position: relative;
        left: -68px;
    }
}

.projects-contact-me:hover {
    color: #4EE1A0;
    cursor: pointer;
}

.div-img {
    width: 540px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-link {
    position: absolute;
    width: 300px;
    height: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    font-family: 'SpaceGrotesk-VariableFont_wght';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.28571px;
    z-index: 1;
}
.div-link-mobile{
    display: none;

}

@media screen and (max-width: 412px){
    .div-link{
        left: 20px;
    }
    .div-link-mobile{
        position: relative;
        display: block;
        left: 88px;
        margin-top: 20px;
    }
    .link-mobile{
        margin-right: 20px;
        color: white;
        border-bottom: 2px solid #4EE1A0;
        padding-bottom: 10px;
    }
}

.link {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid #4EE1A0;
    margin-top: 40px;

}

.link:hover {
    color: #4EE1A0;
}

.projects-img {
    width: 540px;
    height: 400px;
    left: 0px;
    top: 168px;
}

@media screen and (max-width:  412px) {
    .projects-img {
        position: relative;
        width: 325px;
        height: 346px;
        left: -36px;
        top: -54px;
    }
}

.projects-h5 {
    width: 280px;
    height: 32px;
    font-family: 'SpaceGrotesk-VariableFont_wght';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-top: 16px;
}

@media screen and (max-width:  412px) {
    .projects-h5{
        margin-left: 84px;
        margin-top: -50px;
    }
}

.projects-text {
    display: flex;
    justify-content: flex-start;
    font-family: 'SpaceGrotesk-VariableFont_wght';
    gap: 30px;
    margin-top: 16px;
    font-size: 18px;
}
@media screen and (max-width:  412px) {
    .projects-text{
        margin-left: 86px;
    }
}

.container-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    width: 1140px;
}
@media screen and (max-width:  412px) {
    .container-projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 412px;
    }
}