@import url("/css/style/section_title.css");
@import url("/css/style/section_skills.css");
@import url("/css/style/section_projects.css");
@import url("/css/style/footer.css");

:root {
    --black: hsl(0, 0 ,8);
    --verde:hsl(153,71,79);
    --black-light:hsl(0, 0, 14);
    --pale-white: hsl(0, 0, 85);
}
@font-face {
    font-family: 'SpaceGrotesk-Bold';
    src: url(/assets/fonts/static/SpaceGrotesk-Bold.ttf);
}
@font-face {
    font-family: 'SpaceGrotesk-Medium';
    src: url(/assets/fonts/static/SpaceGrotesk-Medium.ttf);
}
@font-face {
    font-family: 'SpaceGrotesk-VariableFont_wght';
    src: url(/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}


body {
    background-color: black;
}

.adamkeyes {
    position: absolute;
    width: 172px;
    height: 32px;
    left: 165px;
    top: 39px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 100% */
    letter-spacing: -0.444444px;
    color: #FFFFFF;
}

.nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 192.49px;
    height: 25px;
    left: 1053px;
    top: 43px;
}

.svg-header {
    position: absolute;
    width: 530px;
    height: 129px;
    left: -100px;
    top: 133px;

    mix-blend-mode: normal;
    opacity: 0.50;
}